@media screen and (max-width:1000px) { 

  body{
    font-family: 'Nanum Myeongjo', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    margin: 0;
  }
  .ip_header img{
    display: none;
  }
  .ip_toptitle h1{
    text-align: center;
    margin-top: 72px;
    font-size: 36px;
  }

  .ip_main h2 {
    font-size: 17px;
    text-align: center;
    margin-bottom: 0;
  }
  .ip_introduction{
    font-size: 26px;
    text-align: center;
    margin-top: 11px;
  }
  .ip_main img{
    display: block;
    margin: 0 auto;
  }
  .ip_explanation{
    width: 320px;
    margin: 0 auto;
    margin-top: 33px;
    font-size: 18px;
    margin-bottom: 40px;
  }
  .low_logo{
    display: block;
    margin-left: auto;
  }
}